input {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 23px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);

  border-radius: 8px;
  background: #fcf8f8;

  color: var(--gray-700, #4d4d4d);
  border: 1px solid transparent;
}

input:checked + .label {
  color: var(--prime-prime, #ff1b1a);
  border-color: var(--prime-prime, #ff1b1a);
}
