.wrap {
    width: 100%;
    padding: 16px;
    display: flex;
    height: auto;
    gap: 16px;
}
.wrap > ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.reflectionVisionBoard > li:nth-child(1) {height: 170px;}
.reflectionVisionBoard > li:nth-child(2) {height: 200px;}
.reflectionVisionBoard > li:nth-child(3) {height: 300px;}
.reflectionVisionBoard > li:nth-child(4) {height: 400px;}
.reflectionVisionBoard > li:nth-child(5) {height: 200px;}
.reflectionVisionBoard > li:nth-child(6) {height: 390px;}
.reflectionVisionBoard > li:nth-child(7) {height: 200px;}
.reflectionVisionBoard > li:nth-child(8) {height: 100px;}

.reflectionVisionBoardd > li:nth-child(1) {height: 120px;}
.reflectionVisionBoardd > li:nth-child(2) {height: 300px;}
.reflectionVisionBoardd > li:nth-child(3) {height: 200px;}
.reflectionVisionBoardd > li:nth-child(4) {height: 180px;}
.reflectionVisionBoardd > li:nth-child(5) {height: 270px;}
.reflectionVisionBoardd > li:nth-child(6) {height: 90px;}
.reflectionVisionBoardd > li:nth-child(7) {height: 300px;}
.reflectionVisionBoardd > li:nth-child(8) {height: 270px;}

.visionBoardContent {
    width: 100%;
    min-height: 80px;
    height: auto;
    border-radius: 16px;
    break-inside: avoid;
    overflow: hidden;
    background-color: var(--color-grey-100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}