.profileOverView {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    padding: 24px;
}
.profileText {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-500);
    line-height: 24px;
}
.profileTitle {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
    line-height: 32px;
}
