.statusCardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
}
.statusCard {
    width: 100%;
    height: 104px;
    background-color: var(--color-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:2px;
    align-items: center;
    justify-content: center;
}
.statusIcon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
/* image */
.statusCardList > li:nth-child(1) .statusIcon {
    background-image: url(../../../assets/icons/solar/solar-folder-files.svg);
}
.statusCardList > li:nth-child(2) .statusIcon {
    background-image: url(../../../assets/icons/solar/solar-checklist.svg);
}
.statusCardList > li:nth-child(3) .statusIcon {
    background-image: url(../../../assets/icons/solar/solar-vacation.svg);
}
.stausTitle {
    color: var(--color-grey-400);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: 14px;
}
.statusCount {
    color: var(--color-grey-900);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: 24px;
}
