/* .statisticsGraph {
    width: 100%;
    height: auto;
}
.statisticsGraph > ul {
    display: flex;
    justify-content: space-around;
    gap: 14px;
    align-items: center;
    } */
    
       
.statisticsGraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
            
.graphDay, .graphDate, .graphProgress, .graphPercent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 4px 0;
  }
  .graphPercent {
    padding: 0;
  }
  
  .graphProgress {
    align-items: flex-end;
  }
  
  .progressTrack {
    width: 14%;
    height: 100px;
    background-color: var(--color-grey-10);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .progressThumb {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-200);
    border-radius: 4px;
    transition: height 1s ease-out;
  }
  

/* 요일 & 날짜 */
.graphDay > li,  .graphDate > li {
    text-align: center;
    width: 14%;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: 20px;
}
.graphDay > li {color: var(--color-grey-700);}
.graphDate > li {color: var(--color-grey-400);}
.graphPercent >li {
    text-align: center;
    width: 14%;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: 20px;
    color: var(--color-primary-200);
}