.buttonWrap {
  display: flex;
  justify-content: space-between;
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; /* 버튼 두 개가 가로로 배치될 수 있도록 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
}

.iconContainer {
  font-size: 24px;
  color: #333;
}

.buttonContainer:hover {
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
