.wrap {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.button_wrap {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
