.goalDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-grey-50);
  padding-top: 60px;
}
.goalInfo {
  padding: 24px 16px;
  background-color: var(--color-white);
}
.goalTitleBox {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.color {
  background-color: #bbe7ab;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.orange {
  background-color: var(--color-orange);
}

.lemon {
  background-color: var(--color-lemon);
}

.blueberry {
  background-color: var(--color-blueberry);
}

.grape {
  background-color: var(--color-grape);
}

.green-apple {
  background-color: var(--color-green-apple);
}

.goalTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-900);
  line-height: 24px;
}

.goalInfoContainer {
  padding: 0 16px;
}
.goalInfoContainer > ul {
}
.goalInfoContainer > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 0;
}
.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.goalInfoContainer > ul > li:nth-child(1) > .icon {
  background-image: url(../../assets/icons/humble/humbleicons_calendar.svg);
}
.goalInfoContainer > ul > li:nth-child(2) > .icon {
  background-image: url(../../assets/icons/humble/humbleicons_star.svg);
}
.infoBox {
  display: flex;
  gap: 16px;
  align-items: center;
}
.infoText {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-grey-700);
  line-height: 24px;
}
.infoDash {
}
.planInfo {
  background-color: var(--color-white);
}
.plansWrap {
  padding: 0 16px;
}
