.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleContainer > div{
  display: flex;
  gap: var(--spacing-3xs);
  padding: 16px;
}
.titleEn {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: 150%;
  letter-spacing: -2%;
  color: var(--color-grey-900);
}

.titleKr {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: -2%;
  color: var(--color-grey-400);
}
.plusButton {
  width: 24px;
  height: 24px;
  margin: 16px;
  background-image: url(../../../assets/icons/humble/humbleicons_plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px auto;
}
