.wrapper {
    margin: 0 16px;
    padding: 16px;
    display: flex;
}
.onboardingInput {
    height: 40px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #333;
}
.onboardingInput:focus {
    outline: none;
}
span {
    padding: 0 8px;
    line-height: 40px;
}
