/* 라벨 */
.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-grey-900);
  line-height: 14px;
}
.sectionContainer {
  padding: 16px 16px 40px;
  border-bottom: 1px solid #f5f5f5;
}
.sectionContainer02 {
  padding: 0 16px 16px;
}
.sectionContainer > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.periodBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: end;
}
.periodBox > span {
  line-height: 50px;
}

.buttonWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--color-white);
}
