.modalContainer {
  position: fixed; /* 화면에 고정 */
  bottom: 115px; /* 화면 하단에 위치 */
  left: 50%;
  transform: translateX(-50%); /* 가로 중앙 정렬 */
  width: 350px;
}

.overlay {
  position: fixed; /* 전체 화면 덮기 */
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 배경 */
  display: flex;
  align-items: flex-end; /* 모달을 하단에 정렬 */
  justify-content: center;
}
