.default{
  display: inline-flex;
  padding: 18px 23px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  /* Label/l/semibold */
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
 
  color: var(--gray-700, #4D4D4D);
  background: #FCF8F8;  
}

.default-selected{
  border: 1px solid var(--prime-prime, #FF1B1A);

  /* Label/l/semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */

  color: var(--prime-prime, #FF1B1A);
  background: #FCF8F8;
}
