.wrap {
    width: 100%;
    padding-top: 52px;
}
.guideDetailImage {
    width: 100%;
    height: 240px;
    background-image: url(../../assets/characters/guideDetailImage.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.guideDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    padding: 16px;
}
.guideDetail > .guideDetailChip {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey900);
    border: 1px solid var(--color-grey-900);
    border-radius: 6px;
    padding: 6px;
    margin: 5px 0;
}
.guideDetail > h1 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
    line-height: 34px;
}
/* subtext */
.GuideSubText {
    display: flex;
    gap: 8px;
}
.GuideSubText > span {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--color-grey-300);
    line-height: 30px;
}
.guideDetail > bold {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: var(--color-grey-500);
}
.guideDetail > p {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    color: var(--color-grey-500);
    line-height: 24px;
}
.GuideSubText > li {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    align-items: center;
}
.GuideSubText > li > span {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-300);
    line-height: 28px;
}
.GuideSubText > li > div {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.guideCalendar {background-image: url(../../assets/icons/humble/humbleicons_calendar_guideDetail.svg);}
.guideTime {background-image: url(../../assets/icons/humble/humbleicons_pie-chart_guideDetail.svg);}



















.noteContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid var(--color-grey-50);
    border-radius: var(--border-radius-default);
}
.noteContent:hover {
    background-color: var(--color-grey-5);
    cursor: pointer;
}
.noteContent > h2 {
    width: 100%;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-700);
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}
.noteContent > ol {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding: 4px 0;
}
.noteContent > ol > li {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    align-items: center;
}
.noteContent > p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary-300);
    line-height: 24px;
    padding: 4px 0;
}
.calendar {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url(../../../assets/icons/humble/humbleicons_calendar_guide.svg);
}
.noteContent > ol > li span {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-300);
    line-height: 28px;
}
