.card {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--color-grey-10);
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  }
  
  /* 텍스트 영역 */
  .textArea {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  
  /* 아이콘 영역 */
  .icon {
    width: 60px;
    height: 50px;
    background-image: url(../../../assets/characters/AILucid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
  
  /* 텍스트 내용 (타이틀과 서브타이틀) */
  .textContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  /* 타이틀 */
  .title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary-500);
    line-height: 16px;
  }
  
  /* 서브타이틀 */
  .subtitle {
    font-size: 11px;
    color: var(--color-grey-600);
    font-weight: 400;
    white-space: pre-line; 
    word-break: break-word; 
    line-height: 14px;
  }
  
  /* 버튼 영역 */
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    padding: 8px 16px; 
    background-color: var(--color-grey-900); 
    border: 1px solid var(--color-grey-900);
    color: var(--color-white);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  /* 생성 중 */
  .button:disabled {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-900);
    color: var(--color-grey-900);
  }
  .button:disabled > .buttonIcon {
    background-image: url(../../../assets/icons/humble/humbleicons_spinner-dots.svg);
  }
  /* 생성 후 */
  .button:focus {
    background-color: var(--color-grey-900);
    border: 1px solid var(--color-grey-900); 
    color: var(--color-white);
  }
  .button:focus > .buttonIcon {
    background-image: url(../../../assets/icons/humble/cuida_refresh-outline.svg);
  }
  /* 버튼 아이콘 */
  .buttonIcon {
    width: 18px;
    height: 18px;
    background-image: url(../../../assets/icons/humble/humbleicons_AI.svg);
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: center;
  }
  
  /* 버튼 텍스트 */
  .buttonText {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: 18px;
  }