.plansContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.planBox {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-m);
  background-color: var(--color-grey-10);
  border-radius: var(--border-radius-lg);
}

.colorAndTitlesBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.colorBar {
  width: 10px;
  height: 100%;
  border-radius: var(--border-radius-xs);
  background-color: var(--color-green-apple);
}

.goalAndPlanTitles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
}

.goalTitle {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1;
  color: var(--color-grey-400);
}

.planTitle {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  color: var(--color-grey-900);
}

.pausedAndCheckboxBox {
  display: flex;
  align-items: center;
}

.paused {
  color: var(--color-paused);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 150%;
  margin: 0 8px;
}

.checkbox {
  width: auto;
}
