@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  /*** Colors ***/
  --color-white: #fff;
  /* Primary Color Palette */
  --color-primary-100: #ffe6e5;
  --color-primary-200: #ffb3b2;
  --color-primary-300: #ff807f;
  --color-primary-400: #ff4d4d;
  --color-primary-500: #ff1b1a; /* Primary-Primary */
  --color-primary-600: #e50100;
  --color-primary-700: #b20100;
  --color-primary-800: #7f0100;
  --color-primary-900: #4d0000;
  /* Greyscale Palette */
  --color-grey-5: #fbfbfb;
  --color-grey-10: #f5f5f5;
  --color-grey-50: #f2f2f2;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #cccccc;
  --color-grey-300: #b3b3b3;
  --color-grey-400: #999999;
  --color-grey-500: #7f7f7f;
  --color-grey-600: #666666;
  --color-grey-700: #4d4d4d;
  --color-grey-900: #333333;
  --color-grey-900: #0d0d0d;
  /* Other Colors */
  --color-other-1: #ffbc88;
  --color-other-2: #bbe7ab;
  --color-paused: #b8ace9;

  /*** Typography ***/
  /* Font Family */
  --font-family-primary: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  /* Font Sizes */
  --font-size-7xl: 42px;
  --font-size-6xl: 36px;
  --font-size-5xl: 32px;
  --font-size-4xl: 28px;
  --font-size-3xl: 24px;
  --font-size-2xl: 20px;
  --font-size-xl: 18px;
  --font-size-lg: 16px;
  --font-size-m: 14px; /* Default */
  --font-size-md: 13px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*** Border Radius ***/
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-default: 8px;
  --border-radius-lg: 10px;

  /*** Spacing ***/
  --spacing-4xs: 2px;
  --spacing-3xs: 4px;
  --spacing-2xs: 6px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-m: 16px; /* Default */
  --spacing-lg: 20px;
  --spacing-xl: 24px;
}

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
a:active,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
button:active {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
