.radioWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.radioInput {
  display: none; /* 실제 radio input은 숨깁니다 */
}

.label {
  cursor: pointer;
}

.fruit {
  width: 20px;  /* 선택되지 않은 상태에서의 원형 크기 */
  height: 20px;
  display: inline-block;  /* display 속성 추가 */
  border-radius: 50%;  /* 원형 모양 */
  margin: 4px;
  background-color: transparent;  /* 선택되지 않은 상태에서는 배경이 투명 */
  border: 6px solid transparent;  /* 선택되지 않은 상태에서는 테두리가 투명 */
  position: relative;
  transition: background-color 0.3s, border-color 0.3s, width 0.3s, height 0.3s;
  box-sizing: border-box;  /* 크기 계산을 정확하게 하기 위한 설정 */
}

.fruit.selected {
  background-color: white;  /* 선택된 상태에서 배경색을 하얀색으로 */
  border-color: currentColor;  /* 선택된 상태에서 테두리 색을 현재 색상으로 설정 */
}

.fruit.selected:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;  /* 선택된 상태에서 작은 원형 */
  height: 12px;
  border-radius: 50%;
  background-color: white;  /* 선택된 상태에서 색상에 맞는 작은 원 */
}
